- var pageTitle = 'FrontCoderChallendge2'

doctype html
html(lang="en")
  head
    title= pageTitle
    style
        include ../../css/front-coder-chall-2.css
  body
    include modules_html/header
    h1 Pug - node template engine
    include modules_html/footer
    


    //- <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
    //- <link rel="stylesheet" href="../../css/front-coder-chall-2.css">
